input[type='text'] {
    box-sizing: border-box;
    font: 15px/24px 'Muli', sans-serif;
    color: #333;
    width: 100%;
    letter-spacing: 1px;
    z-index: 10;
}

input[type='text']:focus{
    outline: none;
}

.col_3 {
    width: 27.33%;
    margin: 40px 3%;
    position: relative;
}

.displayBox{
    display: flex;
    flex-direction: column;
}

.displayBox textarea{
    margin-bottom: 10px;
}


.button_2 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 20%;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


.effect_19 {
    border: 1px solid #ccc;
    padding: 7px 14px;
    transition: border-color 0.4s, background-color 0.4s;
    background: transparent;
}

.effect_19:focus {
    border-color: #4caf50;
}

.effect_19 ~ .focus_border:before,
.effect_19 ~ .focus_border:after {
    content: "";
    position: absolute;
    top: -1px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #4caf50;
    transition: 0.4s;
}

.effect_19 ~ .focus_border:after {
    top: auto;
    bottom: 0;
}

.effect_19 ~ .focus_border i:before,
.effect_19 ~ .focus_border i:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 2px;
    height: 0;
    background-color: #4caf50;
    transition: 0.6s;
}

.effect_19 ~ .focus_border i:after {
    left: auto;
    right: 0;
}

.effect_19:focus ~ .focus_border:before,
.effect_19:focus ~ .focus_border:after,
.has-content.effect_19 ~ .focus_border:before,
.has-content.effect_19 ~ .focus_border:after {
    left: 0;
    width: 100%;
    transition: 0.4s;
}

.effect_19:focus ~ .focus_border i:before,
.effect_19:focus ~ .focus_border i:after,
.has-content.effect_19 ~ .focus_border i:before,
.has-content.effect_19 ~ .focus_border i:after {
    top: -1px;
    height: 100%;
    transition: 0.6s;
}

.effect_19 ~ label {
    position: absolute;
    left: 14px;
    width: 100%;
    top: 10px;
    color: #303030;
    font-weight: 500;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}

.effect_19:focus ~ label,
.has-content.effect_19 ~ label {
    top: -18px;
    left: 0;
    font-size: 12px;
    color: #4caf50;
    transition: 0.3s;
}
@media (max-width:1300px){
    .col_3 {
        width: 40%;
    }
    .button_2{
        width: 40%;
    }
}
@media (max-width:800px){
    .col_3 {
        width: 60%;
    }
}